<section id="astronomy">
    <h2 ng-bind="pageContent.astronomy"></h2>
    <h3>{{astronomy.date.dayOfMonth}} {{astronomy.date.monthOfYear}} {{astronomy.date.year}}</h3>
    <div class="astronomy-row">
        <div class="astronomy-left">
            <div class="al-inner">
                <div class="al-block">
                    <div class="al-img">
                        <img src="images/svg/oplao_sunrise.svg" alt="img"></img>
                    </div>
                    <span ng-bind="getTime(astronomy.sunrise)"></span>
                </div>
                <div class="al-block">
                    <div class="al-img">
                        <img src="images/svg/oplao_sunset.svg" alt="img"></img>
                    </div>
                    <span ng-bind="getTime(astronomy.sunset)"></span>
                </div>
            </div>
        </div>
        <div class="astronomy-right">
            <div class="ar-inner">
                <h5>
                    {{astronomy.moon_phase_state}}
                </h5>
                <img alt="img" ng-repeat="n in [1, 2, 3, 4, 5, 6, 7, 8]" ng-src="svg/oplao_moon_{{n}}.svg" ng-class="{'op_full':moon_phase_index==n, 'op':moon_phase_index!=n}"></img>
            </div>
        </div>
    </div>
</section>