    <section id="weekly-report">
    <h2 ng-bind="pageContent.aboveTable"></h2>

    <div class="tb-wrapper">
        <div class="wather-table-wrap">
            <div class="weather-tb 5days-tb">
                <div class="tb-head">
                    <div class="tb-date">
                        <div class="tb-head-icon">
                            <img src="img/date.svg" alt="" height="25">
                        </div>
                        <div class="tb-head-title" ng-bind="pageContent.date"></div>
                    </div>
                    <div class="tb-time">
                        <div class="tb-head-icon">
                            <img src="img/time.svg" alt="" height="25">
                        </div>
                        <div class="tb-head-title" ng-bind="pageContent.time"></div>
                    </div>
                    <div class="tb-weather">
                        <div class="tb-head-icon">
                            <img src="img/weath.svg" alt="" height="25">
                        </div>
                        <div class="tb-head-title" ng-bind="pageContent.weather"></div>
                    </div>
                    <div class="tb-temperature">
                        <div class="tb-head-icon">
                            <img src="img/temperature.svg" alt="" height="25">
                        </div>
                        <div class="tb-head-title" ng-bind="pageContent.temperature"></div>
                    </div>
                    <div class="tb-feels-like">
                        <div class="tb-head-icon">
                            <img src="img/feels_like.svg" alt="" height="25">
                        </div>
                        <div class="tb-head-title" ng-bind="pageContent.feelsLike"></div>
                    </div>
                    <div class="tb-precip-chance">
                        <div class="tb-head-icon">
                            <img src="img/precip_chance.svg" alt="" height="25">
                        </div>
                        <div class="tb-head-title" ng-bind="pageContent.precipChance"></div>
                    </div>
                    <div class="tb-precip">
                        <div class="tb-head-icon">
                            <img src="img/precip.svg" alt="" height="25">
                        </div>
                        <div class="tb-head-title" ng-bind="pageContent.precip"></div>
                    </div>
                    <div class="tb-wind">
                        <div class="tb-head-icon">
                            <img src="img/wind.svg" alt="" height="25">
                        </div>
                        <div class="tb-head-title" ng-bind="pageContent.wind"></div>
                    </div>
                    <div class="tb-gust">
                        <div class="tb-head-icon">
                            <img src="img/gust.svg" alt="" height="25">
                        </div>
                        <div class="tb-head-title" ng-bind="pageContent.gust"></div>
                    </div>
                    <div class="tb-pressure">
                        <div class="tb-head-icon">
                            <img src="img/pressure.svg" alt="" height="25">
                        </div>
                        <div class="tb-head-title" ng-bind="pageContent.pressure"></div>
                    </div>
                </div>
                <div class="tb-contant inner-html">
                    <div class="tb-item" ng-repeat="temperatureDay in temperatureWeekly.data"  ng-init="sectionIndex = $index">

                        <div class="tb-row" ng-repeat="day in temperatureDay" ng-if="dayTrans.includes(day.time) || nightTrans.includes(day.time)">
                            <div class="tb-date" ng-if="dayTrans.includes(day.time)">
                                <div class="tb-today" ng-if="sectionIndex==0" ng-bind="pageContent.today"></div>
                                <div class="tb-date-day">{{temperatureDay.wholeDay.dayOfMonth}} {{temperatureDay.wholeDay.monthOfYear | limitTo:3}},</div>
                                <div class="tb-day">{{temperatureDay.wholeDay.dayOfWeek | limitTo:3}}</div>
                            </div>
                            <div class="tb-date" ng-if="nightTrans.includes(day.time)">
                                <div class="tb-img">
                                    <img ng-src="svg/wicons_svg/{{temperatureDay.wholeDay.weatherCode}}_day.svg" style="width: 42px;margin-bottom:6px">
                                </div>
                                <div class="tb-temp"><span class="min-temperature">{{local.typeTemp=='C'?temperatureDay.wholeDay.minTemperatureC:temperatureDay.wholeDay.minTemperatureF}}°{{local.typeTemp}}</span>/<span class="max-temperature">{{local.typeTemp=='C'?temperatureDay.wholeDay.maxTemperatureC:temperatureDay.wholeDay.maxTemperatureF}}°{{local.typeTemp}}</span></div>
                            </div>

                            <div class="tb-time">
                                <div class="tb-text">{{day.time}}</div>
                            </div>
                            <div class="tb-weather">
                                <img ng-src="svg/wicons_svg/{{day.weatherCode}}_night.svg" style="    width: 45px;    text-align: center;    margin: auto;"  ng-if="nightTrans.includes(day.time)">
                                <img ng-src="svg/wicons_svg/{{day.weatherCode}}_day.svg" style="    width: 45px;    text-align: center;    margin: auto;"  ng-if="dayTrans.includes(day.time)">
                            </div>
                            <div class="tb-temperature">
                                <div class="tb-text">{{local.typeTemp=='C'?day.avgTempC:day.avgTempF}}°{{local.typeTemp}}</div>
                            </div>
                            <div class="tb-feels-like">
                                <div class="tb-text">{{local.typeTemp=='C'?day.feelsLikeC:day.feelsLikeF}}°{{local.typeTemp}}</div>
                            </div>
                            <div class="tb-precip-chance">
                                <div class="tb-text">{{day.precipChance}}%</div>
                            </div>
                            <div class="tb-precip">
                                <div class="tb-count">{{local.typeTemp=='C'?day.precipMm:day.precipIn}}</div>
                                <div class="tb-meter">{{local.typeTemp=='C'?pageContent.mmDist:pageContent.inDist}}</div>
                            </div>
                            <div class="tb-wind">
                                <i class="sprite-wind-tb" style="    -ms-transform: rotate({{day.windDegree + 'deg'}});    -webkit-transform: rotate({{day.windDegree + 'deg'}});    transform: rotate({{day.windDegree + 'deg'}});"></i>
                                <div class="tb-count" style="color:{{day.windspeedColor}}; font-weight:{{day.boldSpeed}}">{{local.typeTemp=='C'?day.windMs:day.windMph}} {{local.typeTemp=='C'?pageContent.ms:pageContent.mph}}</div>
                                <div class="tb-meter">{{day.winddir}}</div>
                            </div>
                            <div class="tb-gust">
                                <div class="tb-count" style="color:{{day.windgustColor}}; font-weight:{{day.boldGust}}">{{local.typeTemp=='C'?day.gustMs:day.gustMph}}</div>
                                <div class="tb-meter">{{local.typeTemp=='C'?pageContent.ms:pageContent.mph}}</div>
                            </div>
                            <div class="tb-pressure">
                                <div class="tb-count">{{local.typeTemp=='C'?day.pressurehPa:day.pressureInch}}</div>
                                <div class="tb-meter">{{local.typeTemp=='C'?pageContent.hPa:pageContent.in}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tb-more-info">
            <div class="text">
                <span>Swipe</span>
                <span>FOR</span>
                <span>MORE</span>
                <span>INFO</span>
            </div>
        </div>
    </div>
    <div class="links-after" ng-include="'templates/links.html'"></div>
    <!-- .tab_container -->
</section><!-- end weeekly-report -->