	<div ng-controller="three-daysCtrl">
		<div class="container section-margin-top">
			<div class="wrapper">
				<div class="page-content">
					<section id="about">
						<h2>About</h2>
						<p>Oplao is a new type of weather service. Oplao provides definitely live weather by using perfect weather data model connected with Web 3D technology. You can imagine tomorrow weather by discovering one of live themes in the Oplao Gallery. Oplao provides global weather forecast and weather content for websites, businesses and travel industry. We specialize in worldwide City and Town, Sailing, Hill and Mountain, Ski and Sports weather. We cover over 2 million worldwide cities. Our weather forecast is trusted and used from SME's to large corporate clients.</p>
						<p>Our team members are based in UK, PL and US. Our high-tech weather data center are situated in US. Unlike other weather provider we have developed our own weather forecasting model which could deliver reliable and accurate weather information for any geo-point in the world. Our weather model is run along with other metrological models to compare and deliver accurate weather forecast.</p>
						<p>We also derive our weather data for research and training purposes from renowned establishments like European Centre for Medium-Range Weather Forecasts, World Meteorological Organization, NASA weather satellite imagery, NOAA GFS2 model and JMA model.</p>
						<h3>Website Terms and Conditions</h3>
						<ol>
							<li>
								<p>These terms and conditions of use ("terms of use") apply to the entire contents of this website under the domain name www.oplao.com and any other oplao website, including the links within these sites to our half hourly online service ("Website") and to any correspondence by e-mail between you and us. Please read these terms of use carefully before using this Website. Using any part of this Website indicates that you accept these terms of use. If you do not accept these terms of use in full, do not use this Website. These terms of use are issued by oplao.com.</p>
							</li>
							<li>
								<p>oplao may revise the terms of use at any time by updating this page. You should check this Website from time to time to review the then current terms of use, because they are binding on you. Certain provisions of the terms of use may be superseded by expressly designated terms located on particular pages at this Website.</p>
							</li>
							<li>
								<p>Unless otherwise stated, the copyright and other intellectual property rights in all material on the Website (including without limitation photographs and graphical images) are owned by oplao or its licensors. Any reproduction or use of extracts from this Website for any purpose is prohibited and may not occur without the express written permission of oplao. If you breach any of the terms and conditions applying to use of this Website, your permission to use it automatically terminates.</p>
							</li>
							<li>
								<p>outside oplao. We do this when there is a particular relevance to the topic you're reading about, for your convenience. If you use these links, you leave this Website. Whilst we endeavour to check that the content of these websites is suitable, oplao does not control and is not responsible for them or their content. oplao therefore, does not endorse or make any representations about them, or any material found there, or any results that may be obtained from using them. If you decide to access any of the third party websites linked to this Website, you do so entirely at your own risk.</p>
							</li>
							<li>
								<p>If you would like to link to this Website, you may only do so on the basis that you link to, but do not replicate, the home page or other relevant page of this Website, and subject to the following conditions:</p>
								<ul>
									<li>
										<p>you do not remove, distort or otherwise alter the size or appearance of the oplao logo</p>
									</li>
									<li>
										<p>you do not create a frame or any other browser or border environment around this Website;</p>
									</li>
									<li>
										<p>you do not in any way imply that oplao is endorsing any products or services other than its own;</p>
									</li>
									<li>
										<p>you do not misrepresent your relationship with oplao nor present any other false information about oplao;</p>
									</li>
									<li>
										<p>you do not otherwise use any oplao trade marks displayed on this Website without express written permission from oplao;</p>
									</li>
									<li>
										<p>you do not link from a website that is not owned by you unless you have permission from the owner to do so; and</p>
									</li>
									<li>
										<p>your website does not contain content that is distasteful, offensive or controversial, infringes any intellectual property rights or other rights of any other person or otherwise does not comply with all applicable laws and regulations.</p>
									</li>
								</ul>
							</li>
							<li>
								<p>oplao expressly reserves the right to revoke the right granted in paragraph 5 for breach of these terms and to take any action it deems appropriate.</p>
							</li>
							<li>
								<p>You shall fully indemnify oplao for any loss or damage suffered by oplao or any of its group companies for breach by you of paragraph 5, except where caused by oplao's negligence.</p>
							</li>
							<li>
								<p>While oplao endeavours to ensure that this Website is normally available 24 hours a day, oplao will not be liable if for any reason this Website is unavailable at any time or for any period.</p>
							</li>
						</ol>
					</section><!-- end about -->
				</div><!-- end page-content -->
				<aside class="sidebar">
					<div class="ad300-600 mob-hide"></div>
					<div class="ad300-250 top20px mob-hide">300x600</div>
					<a href="https://play.google.com/store/apps/developer?id=Oplao" class="g-play" ng-include="'templates/html/google-play.html'"></a>
				</aside>
			</div>
		</div><!-- end container -->
	</div>

